.autocomplete-wrapper {
  
  position: relative;
}

.autocomplete-list {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  background-color: #fff;
}

.autocomplete-item {
  padding: 4px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}
.autocomplete-item:hover {
  background-color: rgba(0,0,0,0.1);
}

.custom-tooltip {
  background-color: turquoise;
  padding: 16px 24px;
}

.label {
  line-height: 1;
  margin-bottom: 0;
}